
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  overflow: auto;
  font-family: sans-serif;
}
.video {
  position: relative;
  width: 600px;
  height: 300px;
  margin-top: 50px;
  background-color: #292929;
  border: 10px solid #292929;
  border-collapse: collapse;
}
.video video {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 20px);
  object-fit: cover;
  z-index: 1;
}
.video .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #292929;
  z-index: 2;
}
.video .live {
  position: absolute;
  background-color: #292929;
  width: fit-content;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  border-radius: 3px;
  margin: 8px;
  font-size: 13px;
  z-index: 2;
}
.video .live .dot {
  background-color: #FE0100;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0;
  animation: live 1.3s normal infinite;
}
.video .bottom .center {
  position: absolute;
  border-radius: 50%;
  top: 77%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.video .bottom .center svg {
  width: 40px;
  fill: white;
}
.video .bottom .lines {
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  top: 60%;
  transform: translate(0px,-50%);
  gap: 3px;
}
.video .bottom .stream {
  position: absolute;
  right: 0;
  top: 80%;
  transform: translate(0px,-50%);
}
.video .bottom .stream svg {
  fill: #fff;
  width: 22px;
}
.video .bottom .lines .dot {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #1617AF;
}
.video .bottom .lines .dot:first-of-type {
  background-color: #A8181B;
}

.video .bottom .lines .dot:last-of-type {
  background-color: #2D8C3D ;
}
.controller {
  height: 200px;
  width: 400px;
  background-color: #e6e6e6;
  position: relative;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}
.controller-section {
  transform: translateY(-60px) scale(.7);
}
.Camera-contoller {
  height: 250px;
  width: 250px;
  background-color: #e6e6e6;
  position: absolute;
  border-radius: 100%;
  margin-left: -125px;
  box-shadow: -15px 8px 15px rgba(0, 0, 0, 0.2);
}

.Machine-contoller {
  height: 250px;
  width: 250px;
  background-color: #b8b8b8;
  position: relative;
  border-radius: 100%;
  margin-right: -125px;
  border: solid 15px rgba(230, 230, 230, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 8px 15px rgba(0, 0, 0, 0.2);
}
.Machine-contoller .direction {
  width: 60%;
  height: 60%;
  position: relative;
}
.Machine-contoller .direction div {
  border: 5px solid #333;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Machine-contoller .direction div img {
  width: 70%;
  height: 70%;
}
.Machine-contoller .direction div.right img {
  transform: translateX(1px);
}
.Machine-contoller .direction div.left img {
  transform: translateX(-2px);
}
.Machine-contoller .direction div.bottom img {
  transform: translateY(1px);
}
.Machine-contoller .direction div.top img {
  transform: translateY(-1px);
}
.Machine-contoller .direction .right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.Machine-contoller .direction .left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.Machine-contoller .direction .top {
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.Machine-contoller .direction .bottom {
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  height: 150px;
  width: 150px;
  background-color: #e6e6e6;
  position: absolute;
  border-radius: 100%;
  border: solid 5px rgba(184, 184, 184, 1);
  margin-left: 42px;
  margin-top: 52px;
}

.crossCenter {
  background-color: #333333;
  width: 35px;
  height: 35px;
  margin-top: 110px;
  margin-left: 100px;
  position: relative;
}

.crossCircle {
  background-color: #292929;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}
.key {
  transition: 0.3s background;
  cursor: pointer;
}
.key:active {
  background-color: #555;
}
.key:focus {
  background-color: #555;
}

.Top {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: -30px;
}

.Bottom {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-top: 30px;
}

.Left {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: -30px;
}

.Right {
  background-color: #333333;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 15%;
  margin-left: 30px;
}
.active {
  animation: active 0.3s;
}
.centerBlue {
  position: absolute;
  width: 50px;
  height: 20px;
  margin-left: 175px;
  margin-top: 30px;
  background-color: #0099ff;
}

.centerLeft {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: 0px;
  background-color: #0099ff;
  border-radius: 100%;
}

.centerRight {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-top: 0px;
  background-color: #0099ff;
  border-radius: 100%;
}

.backButton1Center {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: #e6e6e6;
  transform: rotate(-30deg);
  margin-top: 60px;
  margin-left: 45px;
}

.backButton2Center {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: #e6e6e6;
  transform: rotate(-30deg);
  margin-top: 115px;
  margin-left: 90px;
}

.cornerLeft1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #00b800;
  border-radius: 100%;
  margin-left: -20px;
  border: solid 5px rgba(230, 230, 230, 1);
}

.cornerRight1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #6699ff;
  border-radius: 100%;
  margin-left: 60px;
  border: solid 5px rgba(230, 230, 230, 1);
}

.cornerLeft2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #cfcf00;
  border-radius: 100%;
  margin-left: -20px;
  border: solid 5px rgba(230, 230, 230, 1);
}

.cornerRight2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #7d230d;
  border-radius: 100%;
  margin-left: 60px;
  border: solid 5px rgba(230, 230, 230, 1);
}

.centerStart {
  background-color: #b8b8b8;
  position: absolute;
  height: 35px;
  width: 10px;
  margin-left: 180px;
  margin-top: 110px;
  transform: rotate(20deg);
}

.centerSelect {
  background-color: #b8b8b8;
  position: absolute;
  height: 35px;
  width: 10px;
  margin-left: 205px;
  margin-top: 110px;
  transform: rotate(20deg);
}

.SLeft {
  background-color: #b8b8b8;
  position: absolute;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-top: 30px;
}

.SRight {
  background-color: #b8b8b8;
  position: absolute;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
}

.cable {
  background-color: black;
  width: 10px;
  height: 200px;
  position: relative;
  box-shadow: 7px 8px 15px rgba(0, 0, 0, 0.2);
}

@keyframes live {
  100% {
    opacity: 1;
  }
}
